/* Styling pages */

body{
	background: #FFFFFF;
	font-size: 100%;
	font-family: Arial, "Verdana";
	margin:2%;
	padding-bottom: 2%;
}

header{
	background: #00CC00;
	text-align: center;
	padding-bottom: 15px;
	background-image: url('../images/flywheel.jpg')
}

h1{
	color: #FFFFFF;
	text-align: center;
}

nav {
	color: #FFFFFF;
	font-weight: bold;
	font-variant: small-caps;
	font-family: Arial, "Verdana";
	font-size: 125%;
}

nav a{
	color: #FFFFFF;
	background-color: #00CC00;
	display: inline-block;
	width: 20%;
	margin-left: 2%;
	padding: ;
	border: 2px solid;
	border-radius: 10%;
	border-color: #FFFFFF;
	text-decoration: none;
		
}	
.active{
	background-color: #C0C0C0;
	border: 3px solid;
	color: #00CC00;
}
	
section{
	width:15%;
	margin-right:2%;
	display:inline-block;
	float:left;
	
}

h2{
	color: #FFFFFF;
	background: #00CC00;
	font-weight: bold;		
}

img {
	display: inline-block; 
	height: auto;
	margin: 20px 19px;
	width: 80%;
	border: 3px solid #FFFFFF;	
}
.left {
	background-color: #00CC00;
	width: 27%;
	float: left;
	padding: 1px;
	
}
.right{
	float: right;
	width: 70%;
}
/* Styling pages */

body{
	background: #FFFFFF;
	font-size: 100%;
	margin:2%;
	padding-bottom: 2%;
}

header{
	background: #00CC00;
	text-align: center;
	padding-bottom: 15px;
	background-image: url('../images/flywheel.jpg')
}

h1{
	color: #FFFFFF;
	text-align: center;
}

nav {
	color: #FFFFFF;
	font-weight: bold;
	font-variant: small-caps;
	font-family: Arial, "Verdana";
	font-size: 125%;
}

nav a{
	color: #FFFFFF;
	background-color: #00CC00;
	display: inline-block;
	width: 20%;
	margin-left: 2%;
	padding: ;
	border: 2px solid;
	border-radius: 10%;
	border-color: #FFFFFF;
	text-decoration: none;
		
}	
.active{
	background-color: #C0C0C0;
	border: 3px solid;
	color: #00CC00;
}
	
section{
	width:15%;
	margin-right:2%;
	display:inline-block;
	float:left;
	
}

h2{
	color: #FFFFFF;
	background: #00CC00;
	font-weight: bold;		
}

img {
	display: inline-block; 
	height: auto;
	margin: 20px 19px;
	width: 80%;
	border: 3px solid #FFFFFF;	
}
.left {
	background-color: #00CC00;
	width: 27%;
	float: left;
	padding: 1px;
	
}
.right{
	float: right;
	width: 70%;
}
table {
    font-family: Arial, "Verdana";
    width: 90%;
    margin:auto;
    border-collapse: collapse;
    background: #00CC00;
    color: #FFFFFF;

    
    
  
}

tr, th,td{
	border: 3px solid;
    padding: 2px;


}

th{
	height: 30px;
	text-align: center;
	font-variant: small-caps;
	font-size: 20px;
	background: linear-gradient(#00CC00, #FFFF99); 
	background: -webkit-linear-gradient(#00CC00, #FFFF99); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00CC00, #FFFF99;) /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00CC00, #FFFF99); /* For Firefox 3.6 to 15 */
    border-bottom: 3px solid #00CC00;
  
    
}

td{

	background: #6666CC;
	opacity: 0.9;

	
}
td:hover{
	opacity: 1;
	font-weight:bold;
	font-variant: small-caps;



}

footer{
	background: #00CC00;
	height:50px;
	clear: both;
	text-align: center;
	color: #FFFFFF;
	font-style: italic;
	font-weight: bold;
}