/* Styling pages */

body{
	background: #FFFFFF;
	font-size: 100%;
	margin:2%;
}

header{
	background: #00CC00;
	text-align: center;
	padding-bottom: 15px;
}

h1{
	color: #FFFFFF;
	text-align: center;
}

nav{
	font-variant: small-caps;
	font-family: Arial, "Verdana";
	font-weight: italic;
	font-size: 125%;
}

a {
	color: #FFFFFF;
	font-weight: bold;
	/*background: #FFFF00;*/
}

section{
	/*background: #C0C0C0;*/
	width:25%;
	margin-right:2%;
	display:inline-block;
	float:left;
}


h2{
	color: #FFFFFF;
	background: #00CC00;
	font-weight: bold;
	
}

footer{
	background: #00CC00;
	height:50px;
	clear: both;
	text-align: center;
	color: #FFFFFF;
	font-style: italic;
	font-weight: bold;
	
}

img{
	display: none;
}



