h1 {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    color: #010B7E;
    text-transform: uppercase;
}
header {
    background-color: #B3B3B3;
    font-size: 130%;
}
nav>a {
    background-color: #C6C6C6;
}
section {
    background-color: #808080;
    font-size: 140%;
}
a {
    color: #000000;
    background-color: #A0A0A0;
}
img {
    display: none;
}